<script type="text/javascript">
    window.images = {
        logo: "<%= image_url('Finstagram_logo.png') %>",
        iphone: "<%= image_url('iphone-picture.png') %>",
        apple: "<%= image_url('apple-link.png') %>",
        google: "<%= image_url('google-link.png') %>",
        compass: "<%= image_url('compass-icon')  %>",
        heart: "<%= image_url('heart-icon')  %>",
        profile: "<%= image_url('profile-icon')  %>"
    }
</script>

<main id="root"></main>