<script type="text/javascript">
    window.images = {
        logo: "<%= image_url('app/images/Finstagram_logo.png') %>",
        iphone: "<%= image_url('app/images/iphone-picture.png') %>",
        apple: "<%= image_url('app/images/apple-link.png') %>",
        google: "<%= image_url('app/images/google-link.png') %>",
        compass: "<%= image_url('app/images/compass-icon')  %>",
        heart: "<%= image_url('app/images/heart-icon')  %>",
        profile: "<%= image_url('app/images/profile-icon')  %>"
    }
</script>

<main id="root"></main>