<script type="text/javascript">
    window.images = {
        logo: "<%= asset_path('app/assets/images/Finstagram_logo.png') %>",
        iphone: "<%= asset_path('app/assets/images/iphone-picture.png') %>",
        apple: "<%= asset_path('app/assets/images/apple-link.png') %>",
        google: "<%= asset_path('app/assets/images/google-link.png') %>",
        compass: "<%= asset_path('app/assets/images/compass-icon.png')  %>",
        heart: "<%= asset_path('app/assets/images/heart-icon.png')  %>",
        profile: "<%= asset_path('app/assets/images/profile-icon.png')  %>",
        camera: "<%= asset_path('app/assets/images/camera-icon.png')  %>",
        options: "<%= asset_path('app/assets/images/options-icon.png')  %>"
    }
</script>

<main id="root"></main>