<script type="text/javascript">
    window.images = {
        logo: "<%= asset_path('Finstagram_logo.png') %>",
        iphone: "<%= asset_path('iphone-picture.png') %>",
        apple: "<%= asset_path('apple-link.png') %>",
        google: "<%= asset_path('google-link.png') %>",
        compass: "<%= asset_path('compass-icon')  %>",
        heart: "<%= asset_path('heart-icon')  %>",
        profile: "<%= asset_path('profile-icon')  %>",
        camera: "<%= asset_path('camera-icon')  %>",
        options: "<%= asset_path('options-icon')  %>"
    }
</script>

<main id="root"></main>