<script type="text/javascript">
    window.images = {
        logo: "<%= image_url('Finstagram_logo.png') %>",
        iphone: "<%= image_url('iphone-picture.png') %>",
        apple: "<%= image_url('apple-link.png') %>",
        google: "<%= image_url('google-link.png') %>",
        compass: "<%= image_url('compass-icon.png') %>",
        heart: "<%= image_url('heart-icon.png') %>",
        profile: "<%= image_url('profile-icon.png') %>",
        camera: "<%= image_url('camera-icon.png') %>",
        options: "<%= image_url('options-icon.png') %>"
    }
</script>

<main id="root"></main>