<script type="text/javascript">
    window.images = {
        logo: "<%= image_tag 'Finstagram_logo.png' %>",
        iphone: "<%= image_tag 'iphone-picture.png' %>",
        apple: "<%= image_tag 'apple-link.png' %>",
        google: "<%= image_tag 'google-link.png' %>",
        compass: "<%= image_tag 'compass-icon.png'  %>",
        heart: "<%= image_tag 'heart-icon.png'  %>",
        profile: "<%= image_tag 'profile-icon.png'  %>",
        camera: "<%= image_tag 'camera-icon.png'  %>",
        options: "<%= image_tag 'options-icon.png'  %>"
    }
</script>

<main id="root"></main>