<!DOCTYPE html>
<html>
  <head>
    <title>Finstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta http-equiv=“Content-Type” content=“text/html; charset="iso-8859-1" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if logged_in? %>
      <script type="text/javascript">
          window.currentUser =
            <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
      </script>
    <% end %>

    <script type="text/javascript">
      window.images = {
          logo: "<%= image_url('Finstagram_logo.png') %>",
          iphone: "<%= image_url('iphone-picture.png') %>",
          apple: "<%= image_url('apple-link.png') %>",
          google: "<%= image_url('google-link.png') %>",
          compass: "<%= image_url('compass-icon.png') %>",
          heart: "<%= image_url('heart-icon.png') %>",
          profile: "<%= image_url('profile-icon.png') %>",
          camera: "<%= image_url('camera-icon.png') %>",
          options: "<%= image_url('options-icon.png') %>"
      }
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
